.page-header {
  height: 5rem;
  background-color: aqua;
  display: flex;
  align-items: center;
  padding-left: 4rem;
}

.page-main {
  display: flex;
  flex-direction: column;
  padding: 4rem 25%;
}